/*layout global*/
body{
	margin: 0px;
	background: #6e6e6e;
}

#topo{
	width: 900px;
	height: 20px;
	margin: auto;
	background: url(../imagens/pontilhado.png) repeat-x #2F3138;
	color: #fff;
	font-size: 13px;
}

/*div onde é impresso o nome do SO na barra de status*/
#topo #nome_so{
	background: url(../imagens/btn_close.png) no-repeat;
	padding-left: 25px;
	width: 100px;
	height: 20px;
	float: left;
	cursor: pointer;
}

/*Barra de status onde é impresso data_hora e outros status*/
#topo #barra_status{
	width: 775px;
	float: right;
	height: 20px;
	text-align: center;
}

/*conteiner do topo até rodapé*/
#conteiner{
	background: #fff;
	width: 900px;
	margin: 0 auto;
	overflow: hidden; /*para preencher com branco o fundo*/
}

#menu_left{
	width: 210px;
	margin: 10px 0 0 10px;
	border-radius:10px;
	background: #f3f3f3;
	float: left;
}

/*div onde é exibido a logo do unix*/
#menu_left #unix_logo{
	margin: 10px auto;
	text-align: center; /*para centralizar logo unix*/
}

#menu_left ul{
	margin: 10px 0 0 0;
	padding: 10px;
}

#menu_left li{
	list-style-type: none;
	padding: 10px 0 10px 0;
	text-align: left;
	background: url(../imagens/separador_menu.gif) no-repeat;
}

#menu_left li h4{
	display: inline;
	padding-left: 5px;
	color: #332323;
}

#menu_left ul li a{
	text-decoration: none;
	color: #332323;
}	

#menu_left a{
	text-decoration: none;
	color: #332323;
}

/*div para todo conteudo do site*/
#conteudo{
	background-color: #fff;
	width: 660px;				
	float: right;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#rodape{
	width: 900px;
	height: 150px;
	margin: 0px auto;
	font-size: 14px;
	text-align: left;
	background: url(../imagens/pontilhado.png) repeat-x #2F3138;
	clear: both;
}

#rodape #autores{
	padding: 0 0 0 14px;
	float: left;
	color: #B6B4DD;
}

#rodape #logo_utfpr{
	float: left;
}

#rodape h4{
	margin: 0;
	padding: 10px 0 4px 0;
	color: #fff;
	text-decoration: underline;
}


/*formatacao em geral*/
h2{
	color: #2A268B; /*#E24D00;*/
}

#conteudo p{
	text-align: justify;
}

#img_porque_usar_unix{
	text-align: center; /*para centralizar banner*/
	padding-top: 30px;
}

/********************** página quiz ***************/
/*classe complementar do #conteudo para pagina do quiz*/
.conteudo_quiz{
	background-image: url(../imagens/quiz_fundo.jpg);
	background-repeat: repeat-y;	
}

#header_quiz{
	margin: auto;
	margin-top: 10px;	
	text-align: center;
	background: #f3f3f3;
	border-radius: 5px;
	padding: 20px;
	width: 350px;
}

.textbox{
	width: 300px;
}

#perguntas{
	visibility: hidden; /*perguntas iniciam invisivel até usuario informar seu nome*/
}

#perguntas h2, h3{
	text-align: center;
}

#pagina_2{
	visibility: hidden;
	height: 0px;	
}

.resposta_errada{
	background: #FFE9E5; /*#E94D4D;*/
	background-image: url(../imagens/img-erro.png);
	background-size: 4%;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	border: 1px dotted #B60606;
	width: 100%;
	padding: 10px 0 10px
}

.resposta_certa{
	background: #F1FAEF; /*#97CF8F;*/
	background-image: url(../imagens/img-ok.png);
	background-size: 4%;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	border: 1px dotted #527C4C;
	width: 100%;
	padding: 10px 0 10px;
}

#resultado_quiz{
	position: absolute;
}

.resultado_positivo_quiz{
	background: #F1FAEF;
	border: 1px solid #B2DDAC;
	width: 100%;
	margin-top: 6px;
	border-radius: 5px;
	visibility: hidden;
}

.resultado_negativo_quiz{
	background: #D47D4B;
	border: 1px solid #634A3E;
	width: 100%;
	margin-top: 6px;
	border-radius: 5px;
	visibility: hidden;
}

#resultado_quiz div{
	padding: 0 20px;
}

/*div que contem os botoes de proxima página, validar_quiz*/
#btn_controle_quiz{
	margin-top: 10px;
	text-align: center;
}

/*********************pagina de download*********************/
#img-down-freeBsd{
	text-align: center;
}


/*********************terminal*********************/
#terminal{
	min-height: 300px;
	padding-top: 10px;
	background: #000;
	color: #fff;
	font-family: Monospace,Helvetica,Arial;
	font-size: 13px;
}

#terminal a{
	color: rgb(114, 226, 119);
}

#dados{
	background-color: #000000;
	border:0;
	color: white;
	outline:none;
}

#rodape_terminal{
	width: 900px;
	height: 20px;
	margin: 0px auto;
	text-align: left;
	background: url(../imagens/pontilhado.png) repeat-x #2F3138;
	clear: both;
}
/***********************Menu iniciar*****************************/
#iniciar{
	border:solid;
	border-color: white;
	border-style: outset;
	border-radius: 25px 25px 25px 25px;
	background-color: white;
	opacity: 0.4;
	position: absolute;
	margin-left: 10%;
	display: none;
	width: 40%;
	height: 30%;
}
#fechar{
	position: absolute;
}
