/*layout*/
body{
	margin: 0px;
	background: #6e6e6e;
}

#topo{
	width: 900px;
	height: 20px;
	margin: auto;
	background: url(../imagens/pontilhado.png) repeat-x #2F3138;
	color: #fff;
	font-size: 13px;
}

#topo #nome_so{
	background: url(../imagens/btn_close.png) no-repeat;
	padding-left: 25px;
	width: 100px;
	height: 20px;
	float: left;
	cursor: pointer;
}

#topo #data_hora{
	width: 775px;
	float: right;
	height: 20px;
	text-align: center;
}

/*conteiner do topo até rodapé*/
#conteiner{
	background: #fff;
	width: 900px;
	margin: 0 auto;
	overflow: hidden; /*para preencher com branco o fundo*/
}

#menu_left{
	width: 210px;
	margin: 10px 0 0 10px;
	border-radius:10px;
	background: #f3f3f3;
	float: left;
}

#menu_left #unix_logo{
	margin: 10px auto;
	text-align: center; /*para centralizar logo unix*/
}

#menu_left ul{
	margin: 10px 0 0 0;
	padding: 10px;
}

#menu_left li{
	list-style-type: none;
	padding: 10px 0 10px 0;
	text-align: left;
	background: url(../imagens/separador_menu.gif) no-repeat;
}

#menu_left li h4{
	display: inline;
	padding-left: 5px;
	color: #332323;
}
#menu_left ul li a{
	text-decoration: none;
	color: #332323;
}	

#conteudo{
	background: #fff;
	width: 660px;				
	float: right;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#rodape{
	width: 900px;
	height: 150px;
	margin: 0px auto;
	font-size: 14px;
	text-align: left;
	background: url(../imagens/pontilhado.png) repeat-x #2F3138;
	clear: both;
}

#rodape #autores{
	padding: 0 0 0 14px;
	float: left;
	color: #B6B4DD;
}

#rodape #logo_utfpr{
	float: left;
}

#rodape h4{
	margin: 0;
	padding: 10px 0 4px 0;
	color: #fff;
	text-decoration: underline;
}


/*formatacao em geral*/
h2{
	color: #2A268B; /*#E24D00;*/
}

#conteudo p{
	text-align: justify;
}

#img_porque_usar_unix{
	text-align: center; /*para centralizar banner*/
	padding-top: 30px;
}
/*********************terminal*********************/
#pagina_total{
	text-align: center;
	text-decoration: white;
	color: white;
}
.terminal{
	background-color: black;
	color: white;
	font-family: Monospace,Helvetica,Arial;
}
#dados{
	background-color: #000000;
	border:0;
	color: white;
	outline:none;
}
#conteudo_quiz{
	background: url(../imagens/quiz_fundo.jpg)no-repeat top;

}
#perguntas{
	float: left;
}
#titulo_perguntas1{
	margin-left: 20%;
}
#titulo_perguntas2{
	margin-left: 15%;
}