#pagina_total{
	text-align: center;
	text-decoration: white;
	color: white;
}
body{
	background-color: black;
	color: white;
	font-family: Monospace,Helvetica,Arial;
}
#dados{
	background-color: #000000;
	border:0;
	color: white;
	outline:none;
}
